[2014-02-27 23:51] mlubin opened #1 "module isn't usable"
The main file is still called AutoDiff.jl, so `using ReverseDiffSource` doesn't work right now.

[2014-02-28 10:17] #1 closed, assigned to nobody

[2014-05-14 16:43] IainNZ opened #2 "[PackageEvaluator.jl] Your package ReverseDiffSource may have a testing issue."
_This issue is being filed by a script, but if you reply, I will see it._

[PackageEvaluator.jl](https://github.com/IainNZ/PackageEvaluator.jl) is a script that runs nightly. It attempts to load all Julia packages and run their test (if available) on both the stable version of Julia (0.2) and the nightly build of the unstable version (0.3).

The results of this script are used to generate a [packa

[2014-07-14 20:27] IainNZ opened #3 "[PkgEval] ReverseDiffSource may have a testing issue on Julia 0.3 (2014-07-14)"
[PackageEvaluator.jl](https://github.com/IainNZ/PackageEvaluator.jl) is a script that runs nightly. It attempts to load all Julia packages and run their tests (if available) on both the stable version of Julia (0.2) and the nightly build of the unstable version (0.3). The results of this script are used to generate a [package listing](http://iainnz.github.io/packages.julialang.org/) enhanced with

[2014-07-22 11:31] carloalbert opened #4 "rdiff() (devl3) with Hamiltonian Monte Carlo (HMC)?"
rdiff(), from branch devl3, does an excellent job for me! Thanks!
But now, I want to use it within a HMC algorithm. Currently, ReverseDiffSource from devl3, does not work together with the MCMC package:
Pkg.checkout("ReverseDiffSource", "devl3") leads to build errors in GraphViz.
Any estimates as to when it will work with MCMC? Or recommendations for other implementations of HMC?
Thanks a lot!

[2014-07-23 12:34] carloalbert opened #5 "Bug in rdiff()"
The following code produces an NaN in the expression for the derivative. Dividing by sigma^2 seems to cause a problem:

Pkg.checkout("ReverseDiffSource","devl3")
using ReverseDiffSource

N = 10
sigma = 1.

ex = quote
    H = 0.
    for a = 1:N
        H +=  q[a]
    end
    H = H/(sigma^2)
end

res = rdiff( ex, outsym=:H, q=ones(Float64,N) )

[2014-08-05 21:53] #5 closed, assigned to nobody

[2014-08-18 22:56] fredo-dedup opened #6 "Necessary steps for inclusion in JuliaDiff ?"
Hi @mlubin , @scidom

I have just committed to master (without tagging so as not break the MCMC package) the new version of ReverseDiffSource I have been working on in the past months. Its internals are completely rewritten, it is now using a custom graph that allows more things than the previous approach.

The biggest changes are that it now accepts `for` loops and an unlimited derivation order (

[2014-09-19 23:04] fredo-dedup opened #8 "Failures for order 3 derivations"
Order 3 and above derivations throw errors when derivation variable is a vector :

[code]

[2014-09-22 10:58] #6 closed, assigned to nobody

[2014-09-22 11:00] #2 closed, assigned to nobody

[2014-09-22 11:00] #3 closed, assigned to nobody

[2014-10-08 17:36] IainNZ opened #9 "[PkgEval] ReverseDiffSource may have a testing issue on Julia 0.4 (2014-10-08)"
[PackageEvaluator.jl](https://github.com/IainNZ/PackageEvaluator.jl) is a script that runs nightly. It attempts to load all Julia packages and run their tests (if available) on both the stable version of Julia (0.3) and the nightly build of the unstable version (0.4). The results of this script are used to generate a [package listing](http://pkg.julialang.org/) enhanced with testing results.
####

[2014-10-09 16:15] #9 closed, assigned to nobody

[2014-12-11 15:59] #8 closed, assigned to nobody

[2015-02-20 22:57] rleegates opened #11 "Tensor Functions"
Hi Frédéric,

as far as I can tell, the package currently only supports functions that yield a scalar value. Any plans on extending this to tensor functions?

Best regards,
Robert

[2015-02-26 17:33] fredo-dedup commented on #11
Hi,

I had no plans for this but yes this is possible. Calculation time should be O(n). It would need some prior thinking on how to present the results, especially for higher order derivations.
I labelled your issue as an enhancement request (not sure I'll have time for this though).

Don't know if this would work for you, but you have a workaround with the current version :
- end your expression

[2015-02-27 00:21] rleegates commented on #11
Hi Frédéric,

thank you for your quick reply. I'll try your workaround when I find the time, as I'm currently involved in another project. As far as I can tell, the workaround provides for the differentiation of tensor-valued functions with respect to scalars, however, I'm sure it could be extended to more complicated structures. Just FYI, what I'd ideally be looking for is the computation of part

[2015-03-10 09:22] ulzegasi opened #12 "rdiff() with functions containing for loops?"
Hi, I am using extensively rdiff() which does a really good job for my applications. Unfortunately my functions contain for loops. I am therefore using expressions and manually creating the functions with @eval. It is a good solution. However, I am currently trying to spawn differentiation operations over different processes using distributed arrays. The use of the localpart() of such arrays withi

[2015-03-13 09:50] ulzegasi commented on #12
Hi again, does anyone believe rdiff() will be extended to work with functions with for loops? I am sorry for insisting on this point, but I got stuck and would really need it to move on. Thanks a lot!

[2015-03-13 17:11] mlubin commented on #12
I can't comment on @fredo-dedup's development plans, but applying reverse-mode AD to general loops in a reasonable way is quite a technical challenge.

[2015-03-13 18:50] fredo-dedup commented on #12
Hi @ulzegasi
Having for loops work for functions too is clearly an enhancement that I have in mind.... but I am still short on a satisfactory solution !
The best solution that I could think of was doing a reverse translation of the AST (starting from ifnots, gotos,..) and rebuilding the initial `for` loop. But that is not trivial and most importantly it will be a very brittle process : as soon as

[2015-03-17 09:01] ulzegasi commented on #12
Thank you for your comments! I see your point. I'm afraid I cannot make any useful suggestion as this goes a bit beyond my expertise. I'll be patient.

[2015-04-17 03:44] jeff-regier opened #14 "Int64 gets converted to Float64, causing an error"
Looks like an Int64 argument gets converted to a Float64 by the deriv_rule macro. This leads to an error in the case below.

[code]

[2015-04-20 11:04] fredo-dedup commented on #14
Thanks for taking the time to report this @jeff-regier !

I can reproduce with version 1.2 of the package, but the problem seem to disappear with the master version on both Julia 3.3 and 4.0, I have :

[code]

You can pull the master by doing `Pkg.checkout("ReverseDiffSource", "master")`. I'll publish an updated version shortly.

[2015-04-20 11:04] #14 closed

[2015-05-07 10:10] fredo-dedup commented on #12
Hi @ulzegasi
I have pushed a version that can parse function with `for` loops in the devl branch. (run `Pkg.checkout("ReverseDiffSource", "devl")` to install it). I would like to know if it works for you before publishing it to master.
You can check out functions that work in `test\functions.jl`.
Thanks.

[2015-06-15 09:24] ulzegasi opened #15 "using ReverseDiffSource doesn't work any more?"
Hi, I've just run a Pkg.update() and now using ReverseDiffSource gives the error below.
Can anyone help?
Thank you very much!

In  [2]: using ReverseDiffSource

Out [2]: ERROR: syntax: missing comma or ) in argument list
while loading C:\Users\ulzegasi\.julia\v0.3\ReverseDiffSource\src\tograph.jl, in expression starting on line 237
while loading C:\Users\ulzegasi\.julia\v0.3\ReverseDiffSource\src\

[2015-06-15 14:22] fredo-dedup commented on #15
Hi @ulzegasi. I'll take a look.

Does the error also appears with Julia 0.4 ?

[2015-06-15 14:28] ulzegasi commented on #15
Hi @fredo-dedup
I've realized that I was working with an old Julia version (0.3.0 if I remember correctly). I have upgraded to Julia 0.3.9 and the error has disappeared.
Thank you very much for your reply anyway!

[2015-06-16 10:31] #15 closed

[2015-09-14 18:58] davidanthoff opened #17 "Tag a julia 0.4 compatible 0.0.x release"
Lora only works with ReverseDiffSource.jl <0.1, so the 0.0.x release series for ReverseDiffSource needs to be maintained. 0.0.5 throws warnings on julia 0.4 release candidate. I fixed all of them [here](https://github.com/davidanthoff/ReverseDiffSource.jl/tree/julia04). That branch shouldn't be merged, but added as a release branch for the 0.0.x versions, and then a new version 0.0.6 should be tag

[2015-09-14 19:00] davidanthoff commented on #17
Actually, hold that, my branch is no longer julia 0.3 compatible, which is probably also a requirement. I'll fix in a sec.

[2015-09-14 19:00] mlubin commented on #17
CC @scidom

[2015-09-14 19:17] davidanthoff commented on #17
Alright, the branch should now be compatible with julia 0.3 and 0.4. I dropped julia 0.2 support, assuming/hoping that no one is using that anymore...

[2015-09-14 19:30] scidom commented on #17
Thanks @davidanthoff, @mlubin, I merged the PR on the Lora side of things, but will give @fredo-dedup the space to sort out the ReverseDiffSource end given that he knows the codebase better.

@fredo-dedup I was looking at your great package and found out that the README needs updating to catch up with Julia 0.4, as I think it currently describes the older API. I just want to get used to your packa

[2015-09-14 20:25] fredo-dedup commented on #17
Thanks @davidanthoff, I think I could create a branch for that specific need.

[2015-09-14 21:15] fredo-dedup commented on #17
Found out that the branch existed already (`newoldversion`). I created a branch `lora-branch` anyway that better states its purpose. Your changes are included
I am now waiting for v0.1.4 PR to be merged in METADATA, before submitting the v0.0.6 PR.

[2015-09-14 21:17] fredo-dedup commented on #12
I've merged with master and tagged 0.1.4.
Included also are precompilation and an updated README

[2015-09-14 21:17] #12 closed

[2015-09-14 21:20] davidanthoff commented on #17
Excellent, thanks!

[2015-09-15 14:46] eschnett opened #21 "Handle rational numbers"
I see that e.g.
[code]
results in the output
[code]
which introduces the `Float64` number `0.5` instead of the rational number `1//2`.

Would this be difficult to change? Can you give me a pointer to where to look?

[2015-09-16 13:13] fredo-dedup commented on #21
I presume that at the graph simplification stage, a `1 * 1//2` is evaluated to the Float `0.5` at some point.
When I neutralize the constant expression evaluation (function `evalconstants` in `simplify.jl`) I get:
[code]
I preserve the rationals now, but I get a useless `(2-1)`. => I need more sophisticated rules to decide what should be evaluated and what should not.

[2015-09-19 09:38] fredo-dedup commented on #17
METADATA is updated by now.

[2015-09-19 09:38] #17 closed

[2015-09-24 04:51] jzthree opened #22 "Support for `reshape`?"
Allowing using reshape in the function would be very useful. I have only scratched the surface of this package and haven't learned how it works internally. But trying something like ```@deriv_rule reshape(x, a, b) x reshape(ds, a, b)``` does not work. Is that possible to add support for reshape?

( I am encountering this problem mostly because I need to compute order >=2 derivatives for my functio

[2015-09-25 11:10] fredo-dedup commented on #22
try this (it seems to work for me):
[code]
The rule should output an Array the size of x, not the size of ds

[2015-09-25 15:58] jzthree commented on #22
Yes I just tested and it works (how dumb I am!). Thanks a lot!!

I think it might be helpful to add reshape to the list of base_rules. It is quite basic operation that will allow handling more flexible functions. Just my opinion :)

[2015-09-26 09:49] fredo-dedup commented on #22
No worries, creating those rules is not always intuitive (at least not for me). I'll add the `reshape` to base_rules.

[2015-09-26 09:49] #22 closed

[2015-10-29 08:38] dsweber2 opened #23 "Multi-variate output"
So I'm looking for a way to calculate the total derivative in an AD manner, and was somewhat surprised to find that `rdiff` requires that the input function have only one output variable:
[code]
returns `output variable should be Real, Array{Int64,1} found`.

I can see how for order >= 2, it's best to require that the output of the function be a single variable. However, for order 1 it seems perfe

[2015-10-29 16:28] mlubin commented on #23
There's typically little algorithmic benefit from applying reverse mode to a multivariate function versus applying it to a multiple univariate functions that represent the output values of the original function. If you use forward-mode AD then the complexity depends on the input dimension but not the output dimension.

[2015-10-29 18:59] dsweber2 commented on #23
Thanks for the fast turn around!
So algorithmically, there's little difference between the multivariate and univariate cases? But from a coding perspective, it would be convenient to be able to put a multivariate function as input to `rdiff`.

As I'm relatively new to Julia, is there a simple way to feed a multivariate function through `rdiff` that I'm just not seeing (I tried using `:(fun(x)[1])`

[2015-10-29 19:02] mlubin commented on #23
Yes, I understand that it's not very convenient to split a multivariate output function into multiple univariate output functions. I don't think that's implemented, I'll let @fredo-dedup comment here.

[2015-10-29 21:59] fredo-dedup commented on #23
Hi all,
I think this is a duplicate of #11. See the (kludgy, sorry) solution proposed there.
This one is marked as a needed enhancement. Now I just need the time to implement this someday.

[2015-10-30 05:57] dsweber2 commented on #23
Oh, I didn't notice how similar that one was, sorry for the redundancy. The suggestion there doesn't seem to work on functions however:
[code]
I also tried wrapping an expression around it.
[code]
I'm guessing there's a metaprogramming solution, but I don't have much experience with that yet. Suggestions?

[2015-10-30 17:40] fredo-dedup commented on #23
Sorry for not providing a more detailed workaround !
If you are working with an expression, say for the example `:( log(x) )`, just amend the expression with `[i]`  : `:( log(x)[i] )`, `i` being a variable that you have predefined.
Run `ex = rdiff( :( log(x)[i] ), x=[1,2])`, the resulting expression depends on both i and x
Wrap the result in a loop
[code]

Executing `mex(ones(5))` should now work

[2015-10-31 07:44] dsweber2 commented on #23
this works fine for for functions where the derivative is already defined, such as `log`, but for ones such as `fun` above, `rdiff` doesn't go into the function (I tried this above).

[2015-10-31 14:51] fredo-dedup commented on #23
This is correct, `rdiff` does not look into the definition of functions, either it is a function with pre-declared derivation rules (ReverseDiffSource comes with definitions for the most basic functions) or you tell `rdiff` how to derive the function (see doc on the `@deriv_rule` macro).
If `fun` is a function that you designed, perhaps you can add `[i]` at the end, and throw the expression to `rd

[2015-11-01 18:18] dsweber2 commented on #23
I've just been using the function defined above
[code]
as a test case (I have several functions that I would like to be able to run this on).
I'm not sure what you mean by adding `[i]` at the end; `rdiff(fun[i])` getindex throws an error.

[2015-11-02 12:19] fredo-dedup commented on #23
The `[i]` should be within the function or the expression. (note that the function version of `rdiff` seems a bit buggy with your example so I'll be using an expression below) :
[code]

[2015-11-10 08:37] baggepinnen opened #24 "invalid ASCII sequence"
I have stumbled upon a bug I can't really explain. I'm trying out autodiff on the pdf for a MvNormal, so I have written a function which takes the parameters of a MvNormal distribution and returns a second function which is the pdf. Autodiff complains at an invalid ASCII-sequence?

[code]
julia> dfN = rdiff(fpdf, (zeros(D),))
ERROR: ArgumentError: invalid ASCII sequence
 in convert at ./ascii.jl:1

[2015-11-10 11:31] fredo-dedup commented on #24
I've discovered not one but several issues in ReverseDiffSource with your example ! I'll see if I can solve them.

In the meantime, here's a workaround :
[code]

Variables m and s have to be defined as globals (not function-local varaibles) for derivation to work. This is a limitation of the package as it's designed currently.

[2015-11-12 22:25] baggepinnen opened #25 "no rule for differentiating a+b+c"
Differentiating  `x + y + z` does not work, but  `(x + y) + z` is okay
[code]

[2015-11-12 22:40] baggepinnen opened #26 "Simplifications needed?"
The following small example seems to produce very strange code, especially all the call to zeros() seem unnecessary?
[code]

julia> rdiff(ex,x=x)
quote
    _tmp1 = xp - x
    _tmp2 = x - goal
    _tmp3 = _tmp1 .^ 2
    _tmp4 = size(_tmp3)
    _tmp5 = _tmp2 .^ 2
    _tmp6 = sum(_tmp5)
    _tmp7 = size(_tmp5)
    _tmp8 = _tmp6 + c3
    (((c1 * _tmp6 + c2 * log(_tmp8)) + sum(_tmp3)) + sum(u .^ 2),(ze

[2015-11-13 08:58] fredo-dedup commented on #25
n-ary operations, with n > 2, are supposed to be broken down into binary ops automatically by `ReverseDiffSource`. It does work with expressions but not anymore with functions. It is probably caused by a change in the AST format produced by Julia.
This is a bug, I'll look into it.

[2015-11-13 09:34] fredo-dedup commented on #26
This is a needed enhancement. The problem is that the simplification pass on the code cannot reduce `zeros(..) + x` to `x` without knowing the type of `x` (it simplifies if x is an Array, but not if x is a scalar); and the type of the variables are not always known at the simplification stage.

The change needed is not too complicated but it may make `rdiff()` significantly slower on more complex

[2015-12-06 08:00] scidom opened #27 "using ReverseDiffSource in Lora throws error"
Hi @fredo-dedup, I hope all is well with you. As you will see, I updated Lora after pushing the work of the last 9 months. I want to now re-enable autodiff in our Lora package using your ReverseDiffSource (and ForwardDiff as an additional option for the user); I should be able to re-integrate autodiff in the next one or two weeks. To start with, enabling `using ReverseDiffSource` in src/Lora.jl th

[2015-12-06 08:02] scidom commented on #27
P.S. I forgot to mention that `using ReverseDiffSource` works fine from the Julia REPL. The problem appears only when `using ReverseDiffSource` is added to src/Lora.jl.

[2015-12-07 18:05] fredo-dedup commented on #27
I suspect this is related to pre-compilation. It is also probably the cause of another issue.
I'll look into it. Sorry to slow you down in your huge endeavor on Lora !

A quick workaround that might work is to do the following in the file `ReverseDiffSource.jl` :
- set `__precompile__(false)` at the start of the module,
- uncomment `include("base_rules.jl")`,
- and comment `__init__() = include(..

[2015-12-07 20:03] scidom commented on #27
Thanks a lot @fredo-dedup, your help with ReverseDiffSource is appreciated. I am very happy to say that your proposed workaround works for now. This allows me to add `using ReverseDiffSource` inside Lora without errors, which is great!

I will work using your solution for now, to develop the constructors needed in Lora that will allow generation of parameters with gradients computed via ReverseDif

[2015-12-12 15:49] scidom opened #28 "Allowing extra (constant) arguments to differentiated function"
@fredo-dedup I started familiarizing myself with your package, and it is really great. I'd like to suggest a feature. For now, ReverseDiffSource works well with one argument:

[code]

This is great but for Lora there is one more important use case. We may want to define a log-target `f` with more than one arguments. For example, we may want to define

[code]

Differentiation will happen with respe

[2015-12-12 16:01] scidom commented on #28
P.S. Trying to generalize, there are two possible cases:

[code]

[code]

The second case involves closures. Both cases have one aspect in common, that of passing arguments (such as `y`), that should be ignored during differentiation.

[2015-12-13 00:23] scidom commented on #28
One more thing, what I am actually trying to do ultimately is to use a functor as in

[code]

But then the following fails:

[code]

[2015-12-16 13:09] fredo-dedup commented on #28
Good improvement ideas. Noted.

[2015-12-16 13:12] scidom commented on #28
Thanks a lot @fredo-dedup. It will become a bit clearer how this can be interfaced with Lora in the next week or so, as I am working on changing slightly function signatures in parameter methods to take a single argument using closures; we would still need to ignore some parameters when doing the differentiation. I will be able to be a bit more concrete with examples in a few days, once I make the

[2015-12-24 13:40] scidom commented on #28
I know what is needed by now for Lora; a simple example below:

[code]

We want to be able to able to tell ReverseDiffSource to differentiate with respect to `p` and to ignore `y`. In this example, `p` could be a parameter, whereas `y` could be a data-related variable whose gradient is not needed. Apologies for the several issues @fredo-dedup, I only referenced them and elaborated on them to facil

[2015-12-24 13:49] scidom opened #29 "Possible bug related to allorders optional argument"
The following

[code]

yields `(11.215,[6.75,5.6])`, whereas the following

[code]

gives `6.75`. If I am not wrong, I think the latter should give `[6.75,5.6]` instead.

[2015-12-30 15:28] fredo-dedup commented on #29
corrected with latest master

[2015-12-30 15:28] #29 closed

[2015-12-30 15:32] fredo-dedup commented on #27
I set pre-compilation = false with latest commit in master. Should work now.

[2015-12-30 15:32] #27 closed

[2015-12-30 15:35] scidom commented on #27
Thanks @fredo-dedup! I will try them now and will push the relevant changes to Lora so that it works with ReverseDiffSource!

I wanted to seize the opportunity and ask you a question about the `init` option of `rdiff()`, as I don't know well how it is used internally, is it needed to be specified by the user or can it be deduced? This question is only for my own understanding as the Lora-ReverseDi

[2015-12-30 15:35] scidom commented on #29
Thanks for this too!

[2015-12-30 16:38] scidom commented on #29
I checked it from my end, works fine!

[2015-12-30 16:56] fredo-dedup commented on #27
Sorry @scidom  but I can't see which `init` you are referring to. Could you point me to a specific line in the code or in the docs ?

[2015-12-30 17:01] scidom commented on #27
Sorry, @fredo-dedup, this is my bad. I was referring for ex to this page in doc:

http://reversediffsourcejl.readthedocs.org/en/master/maincall.html

Put another way, in the example

[code]

why do we need to pass the argument `x=[2., 3.]` to `rdiff()`. Is there a way we can avoid specifying it as it may simplify the API?

One more question, ReverseDiffSource (and Lora) seem to have failed to buil

[2015-12-30 17:09] fredo-dedup commented on #27
As of today, this parameter is needed because the derivation rules of functions differ depending on the types of the function arguments. ReverseDiffSource does not implement type inference by itself as it is a rather complicated process and it is not always reliable. The package rather requires the user to supply typical values of the input variables so that all the intermediate values can be calc

[2015-12-30 17:16] scidom commented on #27
Ok, @fredo-dedup, you are more knowledgeable than me on ReverseDiffSource (and more generally on reverse mode AD), so I will trust with you this is the more reasonable choice.

Just to be sure that what I am doing is correct, in this file

https://github.com/JuliaStats/Lora.jl/blob/master/src/autodiff/reverse.jl

I define via codegen an AD-related function that invokes `rdiff()`. For example, if t

[2016-01-03 00:47] scidom opened #30 "Tests fail after latest commit (and metadata)"
Hi @fredo-dedup, thanks for pushing the latest fixes to master. I have noticed that the tests now fail after the last commit, which probably causes a failure of tests in Lora too. Is the source of error easy to fix or is it a more troubling bug? If it is an easy matter to sort out, we may make sure that the the build errors are fixed and push the latest ReverseDiffSource to metadata (and I can the

[2016-01-05 11:15] fredo-dedup commented on #30
I found that the breaking change #13612 in Julia v0.5 (dropping dimensions indexed by a scalar) caused an error in the `show` function for graph types used in `ReverseDiffSource`.
Tests now pass in both 0.4 and nightly and I tagged a new version 0.2.1 (PR pending)

[2016-01-05 11:15] #30 closed

[2016-01-05 11:18] scidom commented on #30
Thanks a lot Frédéric, once your PR is merged by the metadata maintainers, I will make sure Lora passes the tests too, and by next week (once I complete the nearly finished Gibbs job), I will tag a new Lora release too.

[2016-01-19 16:44] scidom commented on #28
@fredo-dedup in order to better clarify what I meant, you may have a look at the example in Lora.jl/doc/examples/swiss.jl. The likelihood there takes two input arguments:

[code]

So we want to differentiate with respect to p and ignore the second input argument v (cell array). I added this comment here so that it can help understand what we want to achieve, for future reference.

[2016-02-02 14:58] scidom opened #31 "Error when loading package in nightly"
Hi @fredo-dedup, you may have seen this (in which case feel free to close the issue), ReverseDiffSource fails to load in Julia v0.5 nightly:

[code]

[2016-02-03 12:44] fredo-dedup commented on #31
Thanks for pointing this out, I hadn't seen it.
I am currently working on a rewrite of the package, so correcting this specific issue on julia v0.5 will probably not be worth it (unless julia 0.5 gets closer to a release and I made no progress on the rewrite).

[2016-02-03 13:56] scidom commented on #31
Of coruse, @fredo-dedup, if you are working towards such direction, it is understood there is no point to fix this issue now, feel free to close it in this case.

[2016-03-16 09:46] scidom commented on #28
Hi, @fredo-dedup, I wanted to ask if this issue is part of your "todo" list or part of your near future plans. If you have a lot of work and can't get on top of it any time soon, may I suggest we make an effort to submit an idea for GSoC so that a student can push forward this issue as well as ReverseDiffSource? If you prefer to work on it at your own time though, it is fine of course. cc @mlubin

[2016-03-17 18:06] fredo-dedup commented on #28
I confirm it is still on my todo list.

It doesn't seem to me to be big enough for a GSoC though, but I don't know much about the kind of projects that are typical.

While we are at it: there are two ways I can think of to indicate that we do not want to differentiate with respect to one or several of the variables : 1) add an option to `rdiff` to indicate those variables or 2) require the user to

[2016-03-17 18:12] scidom commented on #28
Yes, @fredo-dedup, what you say makes sense, this specific issue seems too small to fill in a whole GSoC project, esp if it is part of your todo list in the long run. Besides, it looks you have developed your package well, so perhaps thinking of a GSoC project is a stretch.

I also agree that solution 2 seems a bit more convoluted, solution 1 seems more transparent to me as a user. If solution 1 i

[2016-03-18 10:57] fredo-dedup commented on #28
I have updated the devl branch with a version of rdiff that takes an `ignore` keyword arg specifying an exclusion list of variables for derivation:

[code]

I'll push it to master and tag it if it solves your issue @scidom.

[2016-03-18 14:17] scidom commented on #28
Thanks, @fredo-dedup! Yes, this would allow me to tackle all user cases and integrate completely your reverse autodiff with Lora! It would be great to push it to master and tag it.

One quick question; from a user's perspective, the `args` values don't matter? Is it only the types of values in `args` that matter?

[2016-03-18 14:28] fredo-dedup commented on #28
Unfortunately, the values are also required because I need to have the type of all the downstream variables and to do that I evaluate all the AST.
It might be doable to use the type inference that Julia already has but I haven't explored that possibility. I fear that inference would not work well enough in too many cases in practice to have ReverseDiffSource completely depend on it.
Since the user

[2016-03-18 14:31] scidom commented on #28
Sure, @fredo-dedup, I only asked to enhance my understanding and to make sure I don't make any mistakes when I interface ReverseDiffSource with Lora, I didn't imply that a further change is needed in ReverseDiffSource (what you did above is great and solves the issue I had initially).

So to be clear, in practice I need to ensure that `args` in your example is set to the initial values of the MCMC

[2016-03-18 15:17] fredo-dedup commented on #28
Ok. To directly answer your question : yes,  values are required, but no, their actual value do not matter, as long as the type is correct and the function/expression is evaluable at those values (i.e. in the support of the function). The initial condition of the MCMC will, by necessity, fit those constraints, but other values can, of course, be used.

[2016-03-18 15:28] scidom commented on #28
Thanks, @fredo-dedup, it makes sense now. Then the way you have coded this initialization is rather flexible and easy to cope with when calling ReverseDiffSource. Looking forward to the tagging!

[2016-03-18 18:22] fredo-dedup commented on #28
Solved in v0.2.2 (registration pending)

[2016-03-18 18:22] #28 closed

[2016-03-18 18:35] scidom commented on #28
Thanks @fredo-dedup! I am very excited about this update on ReverseDiffSource, it means it will be possible to reverse diff in Lora with non-trivial examples and with MCMC with higher order derivatives computed automatically (for ex SMMALA). Appreciated!

[2016-03-19 16:07] scidom opened #32 "Possible bug related to allorders option"
Hi @fredo-dedup, I think I found a small bug (though not 100% sure).

[code]

In both cases first order derivatives are generated. However, the presence of the `allorder=false` option seems to produce only the first order partial derivative with respect to `y` (but not with respect to `x`), which I think shouldn't happen.

This is not critical, I can carry on with the developments in Lora, but I t

[2016-03-20 23:08] scidom opened #33 "Probably type inference error with function input to rdiff that contains a (design) matrix"
Hi @fredo-dedup, I think I found a second bug, please feel free to process the issues I have opened at your own time of course, I am just creating them to help make ReverseDiffSource better. I tried rerunning the loglikelihood of the logistic model mentioned in #28, this time defining a matrix value in `args` for the design matrix. Here is the error I get:

[code]

Interestingly, when I define the

[2016-03-21 01:59] scidom commented on #33
Ah, sorry about this issue @fredo-dedup, my bad, I made a mistake, as I was calling the autodiff function generated by ReverseDiffSource with wrong input arguments. Here is the fix:

[code]

[2016-03-21 01:59] #33 closed

[2016-03-22 17:38] fredo-dedup commented on #23
Closing because it is a duplicate.

[2016-03-22 17:38] #23 closed

[2016-03-22 17:40] fredo-dedup commented on #4
This is being adressed in on-going developments in Lora (the successor to MCMC). Closing because not strictly related to ReverseDiffSource.

[2016-03-22 17:40] #4 closed

[2016-03-22 18:25] fredo-dedup commented on #25
Corrected in latest commit in master.

[2016-03-22 18:25] #25 closed

[2016-03-22 18:26] fredo-dedup commented on #32
Corrected in latest master

[2016-03-22 18:26] #32 closed

[2016-03-22 19:24] scidom commented on #32
Thanks @fredo-dedup!

[2016-03-27 16:32] scidom opened #34 "Reverse AD for mod2pi()"
Hi @fredo-dedup , how easy would it be to implement reverse AD for  the `mod2pi()` function? @eford, a collaborator, would like to make use of such functionality. Would it be possible to help with this? I don't know much about the internals of ReverseDiffSource (I only use its interface to integrate it with Lora), so it would either be you who implements it or you could give me some directions and

[2016-03-29 10:58] fredo-dedup commented on #34
This should do :
[code]
(since the derivative is always 1. ).

[2016-03-29 11:31] scidom commented on #34
Thanks @fredo-dedup! I will open a PR later on today about this.

[2016-03-29 22:38] scidom commented on #34
I will close this issue now, as I have opened a PR for mod2pi().

[2016-03-29 22:38] #34 closed

[2016-04-07 10:53] fredo-dedup commented on #31
Fixed with 0.2.3  (with current latest at least)

[2016-04-07 10:53] #31 closed

[2016-05-18 01:19] jeff-regier opened #36 "Pre-allocate memory for derivatives ?"
Is there a way to pre-allocate an array to store derivatives, and have ReverseDiffSource write derivatives to that array, rather than allocating new memory at every call?

[2016-05-19 08:48] fredo-dedup commented on #36
The only way I can think of is to use the `rdiff` method working on expressions (not the one working on functions) and edit the generated expression (replacing the `dx = zeros(..)` with `fill!(dx,0.)` ),
`dx` being the preallocated variable.
If you want to wrap the resulting expression in a function you can either create `dx` in a closure around the function or require the user to pass it in the f

[2016-05-19 16:33] jeff-regier commented on #36
I'll do that. Thanks for the suggestion!

[2016-05-19 16:33] #36 closed

[2016-06-22 21:44] jeff-regier opened #37 "__precompile__(false)"
Any plans to support precompilation in ReverseDiffSource?

[2016-06-23 12:22] fredo-dedup commented on #37
I tried but it turned out to not work properly (possibly because of the derivation rules dictionary which is indexed by a Function). But it is certainly doable.

I'll tag this as an enhancement.

Are you facing a context in which this is a big issue ?

[2016-06-23 22:25] jeff-regier commented on #37
Thanks for looking into it! Over at [Celeste.jl](https://github.com/jeff-regier/Celeste.jl) we'd like to use ReverseDiffSource for all the derivatives we're computing manually now (e.g., [ElboDeriv.jl](https://github.com/jeff-regier/Celeste.jl/blob/master/src/ElboDeriv.jl) . Without precompilation, however, `using ReverseDiffSource` and calling rdiff the first time takes about 30 seconds. Since we

[2016-07-12 21:20] dfdx opened #38 "Derivatives of a function inside another functions"
As far as I understand, currently it's not possible to calculate derivative of a user-defined function inside another function, e.g.:

[code]

How hard it would be to implement such a feature? I see that `rdiff(::Function,...)` calls `rdiff(::Expr,...)`, does it make sense for `rdiff(::Expr,...)` to call back `rdiff(::Function)` or something like that?

[2016-07-22 08:54] fredo-dedup commented on #38
There is not any fundamental obstacle that I can see but the implementation details could be really complicated (how to deal with recursive calls for instance ?).
How about calling rdiff on the expression form of the inner function and defining the derivation rule with `@deriv-rule foo(x) x <expr>`  ?
Would that fit in your workflow ?

[2016-07-23 14:41] dfdx commented on #38
Using `@deriv_rule` is a bit manual, but may work for me, so I'll give it a try. Thanks!

Supporting recursive functions is an interesting task by itself, though. I see this package supports `for` loops which is somewhat similar to recursion, but understanding that part of the code is a bit complicated for me. Would you mind giving a short high-level description of how you handle it?

[2016-07-24 14:58] alexbw opened #39 "Conditionals supported?"
I see you have support for some control flow (for-loops), which is awesome. I've been poking around the source, and don't see support for if-statements, while loops, or try/catch statements. Am I correct that these aren't in the library currently?

[2016-07-24 15:00] alexbw commented on #11
FYI, if just writing down all the gradients of lots of tensor-valued functions is the blocker, this has been done (at least twice) in the autograd-family of libraries.

In autograd: https://github.com/HIPS/autograd/blob/master/autograd/numpy/numpy_grads.py
In the Torch version of autograd: https://github.com/twitter/torch-autograd/blob/master/src/gradfuns.lua

[2016-07-25 11:50] fredo-dedup commented on #39
Yes, correct, only for-loops and provided they are not too complex in their structure (no dependencies between results of iterations).
I am working on a rewrite (devl3 branch)  that will support if-else statements, but I am only half-way through it and with very limited time to work on it.

[2016-07-28 13:11] scidom opened #40 "Making ReverseDiffSource compatible with Distributions"
Hi @fredo-dedup, I hope you are well. I have a quick question about how easy it would be to make ReverseDiffSource work with Distributions, and in particular with the `logpdf()` function, which is useful for MCMC. Here is a simple example, where I define a function `f` as the log-pdf of a multivariate t-distribution and it fails; if it is not too complicated to fix this, it would be great:

[code]

[2016-07-31 18:37] fredo-dedup commented on #40
Hi Theodore, I hope you are doing well and that all your projects are moving forward.

I managed to have something working but it is not entirely straightforward :
- The first thing is that you have to define how the derivation accumulator changes for the functions involved (`ReverseDiffSource` comes only with the definition for the most basic functions). Here you have to define the rules for `log

[2016-08-01 14:26] scidom commented on #40
Thanks Frederic, all is going well here, I hope you are doing well too.

Your reply is very helpful because it provides me with a better understanding of how `ReverseDiffSource` can be expanded via `@deriv_rule`, and this is more important that the t-distribution example.

The tricky thing about the log-pdf definition of the t-distribution in `Distributions` is that it doesn't come in one block as

[2016-08-01 18:21] eford commented on #40
Hi Theo,

If you're looking at performance optimization, would making types explicit
help?
E.g.,
function plogtarget{T<:Number}(p::Vector{T}, v::Vector{T})
and/or type annotating the variables coming out from outside scope?

Cheers,
Eric

On Mon, Aug 1, 2016 at 10:26 AM, Theodore Papamarkou <
notifications@github.com> wrote:

--
Eric Ford
Professor of Astronomy & Astrophysics
Center for Exoplanets

[2016-08-01 19:44] scidom commented on #40
Good point, Eric, this could possibly affect performance, I haven't checked it yet, will look into it.

[2016-08-02 17:30] fredo-dedup commented on #40
The expression in the `@deriv_rule` should yield the new value for the derivative accumulator of the variable (`M` in `@deriv_rule PDMat(M) M zeros(M)` ). Since the accumulator for a matrix is a matrix of the same dimension (and I am not interested in its actual value in the above example) I used `zeros(M)`.
You'll note that I mistakenly broke this rule in `@deriv_rule Distributions.GenericMvTDist

[2016-08-04 04:34] cortner opened #41 "Simplest example fails in Julia v0.5-rc0"
[code]

[2016-08-05 04:33] cortner commented on #41
I noticed that ReverseDiffSource passes tests on travis, but not on my machine. Any idea what might be going wrong? I'll be very happy to try and help fix this, but I'd need guidance

[2016-08-05 04:59] cortner commented on #41
I ended up compiling
[code]
and on this version the tests pass on my own machine as well.

[2016-08-11 22:14] scidom opened #42 "Possible indexing issue upon v0.5 upgrade"
Hi Frederic, I hope you are well. I have tried to upgrade Lora to work with Julia v0.5. One error that came up, related to ReverseDiffSource, is the following:

[code]

I know I haven't provided enough context, yet you might be able to see quicker than me what is the issue with line 38, `fdef = fs[1].func`, in src/frdiff.jl.

[2016-08-14 13:12] dfdx commented on #42
The goal of the code you mentioned is to extract AST and arguments of a function to be differentiated. Recently internal function representation has been changed and ReverseDiffSource.jl hasn't been updated to reflect it yet. For my own package I managed to overcome this issue using [this piece of code](https://github.com/dfdx/Espresso.jl/blob/stabilization/src/funexpr.jl#L49-L61) but I currently

[2016-08-14 16:17] scidom commented on #42
Thanks, @dfdx, I can wait till this gets sorted, it is not so urgent for me. I am still using Julia v0.4.6, because the changes in v0.5 and non-supressed warnings across various packages make it difficult to work with. I will wait till the ecosystem catches up with v0.5.

[2016-08-14 16:28] dfdx commented on #11
@alexbw I'm definitely interested to port tensor gradients to Julia (e.g. see dfdx/Espresso.jl#2 for some details). Would you suggest any "entry point" to get started (either in code or in theoretical papers)?

[2016-08-15 12:20] alexbw commented on #11
On the issue you linked, I think you're conflating the partial derivatives
you need to write with the method you will use to perform automatic
differentiation of output w.r.t. input. Indeed we do require functions to
have scalar output in torch-autograd, but I believe autograd supports
calculation of the Jacobian (non-scalar output) by doing multiple passes of
the function, once per column of the

[2016-08-16 23:01] dfdx commented on #11
@alexbw Thanks for your answer. For the code you linked, am I right saying that gradients there are represented as Python/Lua functions that take previous gradients (i.e. gradients of arguments) and produce a new gradient for the current operation itself? That is something like this:

    grad_1 = make_gradient_myfunc(A, B)
    grad_1(already_computed_gradients_of_A_and_B)

Also I don't really und

[2016-08-22 14:31] alexbw commented on #11
Yes, the function signature, for some function like e.g. sum(x,y):

gradSum[1] = function(incomingGradient, answerOfSum, x, y) ... end
gradSum[2] = function(incomingGradient, answerOfSum, x, y) ... end

to calculate the partial gradients for each argument of sum(x,y)

Unbroadcast (used to be called "sumToMatchShape") is used a lot to match
gradient shapes when there has been replication. If you re

[2016-08-22 22:14] dfdx commented on #42
@scidom I've updated the code for Julia 0.5 including a fix for your feature and it's available in my [support-v0.5](https://github.com/dfdx/ReverseDiffSource.jl/tree/support-v0.5) branch. However, I encountered an issue as in #41 with Julia 0.5-rc2. As it's mentioned in that issue, code should work with some development version of Julia itself, so you can try it. Alternatively, I'd suggest to jus

[2016-08-23 09:08] scidom commented on #42
Thanks a lot @dfdx. I don't mind waiting till Julia gets a stable 0.5 tag, as I am busy anyhow with other computing matters right now.

[2016-09-23 12:17] schlichtanders opened #43 "possible future directions"
This is an awesome project and I hope it will mature even more together with julia's growth! Thanks for having realized the state it is now.

Some Introductory Words
===================

I like to contribute in the long run!
probably I won't have much time soon, as I will start my first job as a Data Scientist. But I truly love this general direction. In fact, I was motivated to implement somethin

[2016-09-27 11:48] bmharsha opened #44 "Static compilation fails on ReverseDiffSource.jl"
I’m trying to create a system image of Julia with ReverseDiffSource.jl embedded, I encountered following error while building Julia (using release-0.5 branch).
[code]
OS = Ubuntu 14.04
ReverseDiffSource version = 0.2.3

[2016-09-30 20:22] fredo-dedup commented on #43
Thanks a lot for your interest @schlichtanders ! I look forward to seeing where your ideas could lead to.
I'll be glad to answer your questions (if I can) about the code of this package and have you contribute to it.
But note that the current state of it is the result of several rewrites and many hacks, I lack the vision and background in programming languages to proceed from clean principles and

[2016-09-30 20:41] fredo-dedup commented on #44
Looks like it is caused by the `__precompile__(false)` of this package.

In its current state, ReverseDiffSource uses Functions as indexing keys in a dictionary which fordids its precompilation. see issue #37

Have you tried by forcing `__precompile__(true)` ? It may turn out to work in the embedded scenario (not optimistic about that but may be woth a try).

[2016-09-30 20:43] fredo-dedup commented on #41
Closing the issue since it seems to work for you. It turned out that ReverseDiffSource was not working with 0.5 - release but it has been corrected in the latest master (not tagged yet).

[2016-09-30 20:43] #41 closed

[2016-09-30 20:47] fredo-dedup commented on #40
Closing as this was a question and a solution was provided.

[2016-09-30 20:47] #40 closed

[2016-09-30 21:39] fredo-dedup commented on #42
I have branch (inference) that is not merged yet to master, but it works with julia 0,5. As a bonus, it uses types instead of values as input (check the embedded doc) which should simplify things for Klara.
Will keep you updated when it is tagged.

[2016-10-01 05:48] scidom commented on #42
Thanks @fredo-dedup, this is great. Yes, keep me posted once ready, and I will then update Klara's glue code for calling the reverse diff routines appropriately.

[2016-10-18 19:03] cortner opened #45 "Example from `rdiff` docs fails"
[code]

On Julia v0.5

[2016-10-20 11:50] bmharsha commented on #44
I tried this, forcing `__precompile__(true)` does work i.e I was able to create a user-image with ReverseDiffSource.jl embedded with  `__precompile__(true)`. I did a smoke test on the final user-image. I was able to get valid output for following examples

* `rdiff( :(x^3) , x=2.)`
* `rdiff( :(sin(x)) , order=10, x=2.)`

[2016-10-22 20:54] fredo-dedup commented on #44
Great !
I will close this issue as the precompilation issue is already referenced by #37.

[2016-10-22 20:54] #44 closed

[2016-10-22 20:58] fredo-dedup commented on #45
Tagged version of ReverseDiffSource does not work yet with julia v0.5
I have a version in the works that should correct that. Sorry for the delay.

[2016-10-26 12:19] schlichtanders commented on #43
already some time is gone,
thank you very much for the comments.

I fear it is already time for me to say see you some day. As it is a rather big project for me to read into the code base and start contributing I cannot promise when my context will allow for this. I keep it in the back of my mind and wish you success!

It is so awesome that julia is able to include automatic differentiation at its

[2016-10-29 20:52] fredo-dedup commented on #37
version v0.3.0 adds precompilation (and julia v0.5 compatibility) => closing

Please reopen if pre-compilation still has issues.

[2016-10-29 20:52] #37 closed

[2016-10-29 20:53] fredo-dedup commented on #45
checkout new version v0.3.0. This should solve the issue.

[2016-10-29 20:53] #45 closed

[2016-10-29 20:55] fredo-dedup commented on #42
Done. Check out version v0.3.0.
Do not hesitate to post here any issue you encounter. Thanks.

[2016-10-29 20:55] #42 closed

[2016-10-29 21:01] fredo-dedup commented on #21
Closing as this is a rather old issue for which there is no clear desirable solution (how should we simplify formulas mixing rationals and reals ? ).
+ this domain is not the main focus of the package

[2016-10-29 21:01] #21 closed

[2016-11-07 00:45] #38 closed

[2016-11-07 01:21] dfdx opened #47 "Possibly wrong derivatives for tensors"
Let's say we have expression `z = sum(W * x)` and want to find derivative `dz / dx`. If I run
[code]
I get:
[code]
So `rdiff` tells us that (after substitution and simplifications):

[code]
I haven't found any ready-to-use rules or tools to verify it, but here's my attempt to find the same derivative componentwise. If we set:

![](https://latex.codecogs.com/gif.latex?y%20%3D%20W%20%20x)

then we c

[2016-11-09 15:45] fredo-dedup commented on #47
For `dz / dx` we are expecting a vector of the same size as `x`. You are right that it is equal to `sum(W,1)`or more precisely its transpose  `sum(W,1)'`  (one minor difference is that this will be a column matrix instead of a vector in julia).
And unless i am mistaken we have `sum(W,1)' = W' * ones(size(z))`, no ? (the added advantage of the expression `W' * ones(size(z))` is that it will be a ve

[2016-11-10 09:43] dfdx commented on #47
Ah, now I see. Thanks for clarification.

[2016-11-10 09:43] #47 closed

[2016-11-13 00:30] scidom opened #48 "Error when differentiating with order=0"
Hi @fredo-dedup, I am trying to upgrade Klara to work with the ReverseDiffSource updates. The following breaks:

[code]

returning

[code]

If this is easy to fix, it would be easy to push a new minor version of ReverseDiffSource on metadata.

[2016-11-13 00:55] scidom opened #49 "Lost functionality with new way of handling init argument?"
Hi @fredo-dedup, there is sth that stopped working with the recent change of interface for the `init` input argument of `rdiff()`. Say that I have an expression with two variables `x` and `v`, of types `Vector{Float64}` and `Vector{Any}`. This won't work anymore:

[code]

In the past, it was possible to do sth along the lines:

[code]

Is there a solution that wouldn't require breaking the existin

[2016-11-14 21:13] fredo-dedup commented on #49
You are right that using types introduces limitations in the information that can be given to the parser.
I can see 2 valid ways to make this work:

- define a type
[code]

- separate variables
[code]

Does that solve your problem or is it still problematic for your use case ?

[2016-11-14 21:46] fredo-dedup commented on #48
This should be corrected on master now.

I will tag it later. I am keeping this open until you tell me it is working for you.

[2016-11-14 23:01] papamarkou commented on #48
This is really great @fredo-dedup, it fixed the issue. There was only one example in Klara's README that was failing, but after your fix, it's all fine.

[2016-11-14 23:01] #48 closed

[2016-11-14 23:04] papamarkou commented on #49
This one is a little more complicated. The interface relies on taking a second arbitrary user-defined argument of type `Vector`, so the first option to define a type is precluded. The latter in theory would work, but it would break the whole interface of Klara, in the sense that all additional arguments are passed as a single vector. "Unrolling" them as separate arguments would require rethinking

[2016-11-19 15:38] papamarkou commented on #49
@fredo-dedup I was thinking about this issue, and understand of course that using types limits the information that can be passed to the parser. Along these lines, I wanted to ask if it is possible to revert this breaking change; if we have to choose between one interface which limits the previously available functionality and an interface like the old one with richer functionality, I would prefer

[2016-11-19 18:46] fredo-dedup commented on #49
I am a bit reluctant to revert the change since it brings a lot of advantages both internally : differentiation code generation is faster and smaller, and externally : user does not have to provide actual values but only their type. Maintaining both possibilities (values or types) is also not very satisfactory since I still lose on the internal side of things.
Perhaps I could give you a hand on fi

[2016-11-19 20:27] papamarkou commented on #49
Thanks @fredo-dedup. I am afraid changing Klara's API is far from trivial, because there are so many inter-related components that must by satisfied concurrently (ReverseDiffSource and ForwardDiff compatibility being one), plus propagating a potential API change throughout the package is not the easiest task due to the extensive amount of code involved (besides, this would lead to yet another brea

[2016-11-20 22:09] papamarkou commented on #49
@fredo-dedup please excuse my persistence for trying to find a solution for this, but it is critical for me to fix it; firstly it breaks the relevant functionality of Klara, and secondly I need it for a project of my own (I submitted a paper for review to a journal, which was using ReverseDiffSource from Klara and I truly need this functionality desperately back in order to be able to run follow u

[2016-11-21 20:32] fredo-dedup commented on #49
Going back to v0.2.3 of ReverseDiffSource should do it, no ? Can't you change the require file of Klara to have an upper limit at 0.2.3 ?
The new interface was implemented in v0.3.0

[2016-11-21 20:34] papamarkou commented on #49
Brilliant, I will check this out in the next couple of days. Is ReverseDiffSource 0.2.3 compatible with Julia v0.5?

[2016-11-23 20:17] papamarkou commented on #49
Hi @fredo-dedup, I tried what you suggested, used version 0.2.3 of ReverseDiffSource with the latest version of Klara (0.7.0). It doesn't work still, the errors remain. Moreover, in relation to my question above, is v0.2.3 of ReverseDiffSouce meant to run with Julia v0.5 or Julia v0.4? Is there a way ReverseDiffSource could possibly provide a solution so that the relevant functionality of Klara re

[2016-11-26 11:40] fredo-dedup commented on #49
v0.2.3 is julia v0.4 only (it supported 0.5 pre release versions but not the final one). But i think that there must have been an operational version of klara that was working with this version of reversediffsource (what was the version of klara at the time of the release of v0.2.3 of reversediffsource ?). This version at least should work no ?
For my part I have been thinking about bringing back

[2016-11-26 12:37] papamarkou commented on #49
Yes, @fredo-dedup, I will try to choose the right commits for ReverseDiffSource and Klara to have them working again together for the needs of my own project.

I am very thankful that you are thinking of bringing back the old interface alongside the new one, as this will ensure longer term integration between ReverseDiffSource and Klara. The timeline for such sustainable delivered solution is not

[2017-04-05 13:32] SimonDanisch opened #51 "Sugar"
Hi,
I just released [Sugar.jl](https://github.com/SimonDanisch/Sugar.jl), and wanted to point out that it should offer the functionality you have in:
https://github.com/JuliaDiff/ReverseDiffSource.jl/blob/master/src/frdiff.jl
Since it's not easy to do decompilation reliably, it'd be nice to only have one, stable package for this task!
If you're interested in relying on Sugar and need help porting,

[2017-04-05 14:08] SimonDanisch commented on #51
I just noticed, that you don't recursively look into dependent functions. If the problem is missing type information in the AST, this could also be solved by using Sugar :)

[2017-04-11 15:42] alexbw commented on #39
Hey, wanted to follow-up and see if you've made any progress? Interested in learning and discussing some of the ideas behind the package.

[2017-11-14 04:07] cscherrer opened #52 "Julia v0.6?"
Hi, Have you looked into updating this for Julia v0.6? It's currently not building for me. I made some syntax updates on a fork, but it quickly gets into some fine points that I don't really understand.

[2018-02-06 13:08] ngiann commented on #52
Same here. Just typing

`using ReverseDiffSource`

throws errors:

[code]

[2018-04-13 15:01] Goysa2 commented on #52
I don't know if this problem has been solved, but I too have a problem using the package.
`using ReverseDiffSource`
gives me
[code]

[2019-09-04 18:46] KristofferC opened #53 "Info about upcoming removal of packages in the General registry"
As described in https://discourse.julialang.org/t/ann-plans-for-removing-packages-that-do-not-yet-support-1-0-from-the-general-registry/ we are planning on removing packages that do not support 1.0 from the General registry. This package has been detected to not support 1.0 and is thus slated to be removed. The removal of packages from the registry will happen approximately a month after this issu

[2019-10-09 08:32] #53 closed, assigned to nobody